/* -------------------------------------- *
General Styles
* --------------------------------------- */
body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}

h1,
h2,
h3 {
  font-size: 36px;
  font-family: 'Courier New', Courier, monospace, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
main,
header h1,
nav div {
  width: 85%;
  margin: auto;
}
header {
  padding: 40px 0;
}
nav a {
  padding-right: 20px;
}
nav a:hover {
  color: #333;
}
nav {
  background-color: rgb(223, 153, 153);
  padding: 12px;
}
