.container-1 {
display: flex;
flex-direction: column;
padding: 70px;
align-items: center ;}

.container-1-box {
padding: 50px;
width: 75%;
}

.container-2 {
    display: flex;
    margin-right: auto;
    padding-left: 50px;
    float: right;
    width: auto;
    flex-direction: column;
    
}
.bird {
    display: flex;
    width: 5%;  
    padding: 30px;
    flex-direction: column;
    justify-content: end;
    margin-left: auto;
}

.menu-header {
    display: flex;
    align-self: center;
    align-items: center;
    margin: 0px;
    padding:0px;
    width: 25%;
    flex-direction: column;
}

.menu-pic{
    display: flex;
    padding: 30px;
    padding-left: 0px;
    width: 50%;
    align-self: center;
    flex-direction: column;
}


img {
    width: 100%;
}
.logo {
    width: 40%;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: space-around;
}

/* Dropdown Button */
.dropbtn {
    justify-content: flex-end;
    position: relative;
    padding: 16px;
    max-width: 20px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: flex;

     }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: flex;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

  h3 {
      font-family: Arial, Helvetica, sans-serif;
      padding: 20px;
      text-align: center;

  }
 
  h1{
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    text-align: center;
  }

  .container {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }