* {box-sizing: border-box; }

.container-1 {
display: flex;
flex-direction: column;
padding: 0px;
align-items: center;
}

.container-1-box {
padding: 15px;
margin: auto;
}
.logo {
  width: 100%;
}
nav {
    display: flex;
    width: 20%;
}
.container-2 {
    display: flex;
    margin-right: auto;
    padding-left: 50px;
    margin-top: -40px;
    flex-direction: column;
}

.bird {
    display: flex;
    width: 60px;  
    flex-direction: column;
    justify-content: end;
    margin-left: auto;
    margin-right: 12px;
}

.menu-header {
    display: flex;
    align-self: center;
    align-items: center;
    margin: 0px;
    padding:0px;
    width: 25%;
    flex-direction: column;
}

.menu-pic{
    display: flex;
    padding: 30px;
    padding-left: 0px;
    width: 50%;
    align-self: center;
    flex-direction: column;
}


img {
    width: 100%;
}
.logo {
    width: 40%;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: space-around;
}

/* Dropdown Button */
  .dropbtn {
    justify-content: flex-end;
    position: relative;
    max-width: 48px;
    font-size: 16px;
    border: none;
    
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: flex;
    width: auto;
     }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #9e9e9e;}

  h3 {
      font-family: Arial, Helvetica, sans-serif;
      padding: 20px;
      text-align: center;

  }
 
  h1{
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    text-align: center;
  }

  .container {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
    .our-story-page .row {
        display: flex;
        flex-direction: column;
        margin-top: 120px;
    }
  .left {
      display: flex;
      flex: 50%;
      flex-direction: column;
      width: 100%;
      margin-right: 0%;
      padding-top: 40px;

  }

  .right {
      display: flex;
      flex: 50%;
      flex-direction: column;
      width: 100%;
      align-content: flex-end;
      margin-left: 0%;
      padding: 50px;
  }
  
  .our-story-header {
    display: flex;
    align-self: center;
    align-items: center;
    margin-left: 400px;
    margin-bottom: -150px;
    padding:0px;
    width: 25%;
    flex-direction: column;
  }

  p1 {
      font-family: Arial, Helvetica, sans-serif;
      font-size: medium;
      line-height: 2;
  }

  .paragaph2 {
      display: flex;
      padding: 40px;
  }
  .paragraph1 {
    padding: 0 40px;
  }
  .paragraph1 img {
    margin-bottom: 80px;
  }

  .contact-title-box {
    display: flex;
    width: 100%;
    justify-content: center;
    
  }

  .contact-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30pt;
  text-align: center;
  align-content: center;
}

.contact-form-box{
  display: flex;
  width: 100%;
  justify-content: center;

}


@media screen and (min-width: 768px) {
  .container-1 {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .container-1-box { flex: 50%; }
  .our-story-page .row {
        flex-direction: row;
    }
    .menu-pic {
      width: 100%;
      }

}
@media screen and (max-width: 768px) {
  .menu-pic {
    width: 100%;
    }
}