img {
    width: 100%;
}
/* Dropdown Button */
/*.dropbtn {
  background-color: #d19035;
  color: white;
  padding: 16px;
  max-width: 10px;
  font-size: 16px;
  border: none;
}*/
.dropbtn {
    justify-content: flex-end;
    position: relative;
    width: 48px;
    font-size: 16px;
    border: none;
    
  }
  .dropdown:hover .dropbtn {background-color: #9e9e9e;}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #d19035;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */

body {
    margin: 0;
}
header #demobox {
  font-family: 'Bebas Neue', sans-serif;
    font-size: 140px;
    color: #d19035;
    margin-left: -120px;
}
.grid-2 {
    display: flex;
    padding: 60px;
  }
  .home-page .grid-2 {
    padding-bottom:0;
  }
  .grid-2 img {
    justify-content: flex-start;
  }
  .right {
      justify-content: flex-start;
  }
  /* Text over an images */
  .hover-text {
    position: relative;
    width: 100%;
    margin: auto;
  }
  .bottom {
      padding: 40px;
  }
  .home-page .bottom {
      padding-top: 0;
  }
  .hover-text img {
    width: 100%;
  }
.home-page .grid-2 .left {
    padding-right: 0;
  }
  .grid-2 .left {
    padding: 60px;
  }
  .hover-text .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 300px;
    opacity: 0;
    transition: 0.5s ease;
    background-color: #ccb69e;
  }
  .hover-text .overlay {
    width: 100%;
  }
  
  .hover-text:hover .overlay {
    opacity: 1;
  }
  
  .hover-text .text {
    color: white;
    font-family: arial;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  } 

  .hover-text.plate  {
    flex: 65%;
    margin-right: 20px;
  }
  .hover-text.yerb {
    flex: 35%;
  }
  h3 {
    font-size: 36px;
    font-family: 'Courier New', Courier, monospace, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }
  main{
    width: 85%;
    margin: auto;
  }
  header {
    display: flex;
    width: 60%;
    margin: auto;
  }
  header img {
    max-width: 600px;
  }
  header div {
    flex: 1;
  }
  nav a {
    padding-right: 20px;
  }
  nav a:hover {
    color: #333;
  }
  nav {
    padding: 0px;
    margin-bottom: 100px;
  }
  .orange2 {
    margin-bottom: 0px;
  }
  
  .orange {
    font-family: 'Bebas Neue';
    display: flex;
    color: #d19035;
    justify-content: space-between;
    justify-items: center;
    background-color: #ffc164;
    }

    #demobox2 {
      display: flex;
      block-size: 300px;
      width: 50%;
      height: 1000px;
      align-content: right;
      background-color: #cfc ;
    }

   .container-1 {
     display: flex;
     padding-left: 30px;
     margin: 0;
     justify-content: flex-end;
     width: 80%;
   }

   .waffle {
     width: 30%;
     padding-left: 100px;
     
   }
   .waffle-words {
     text-align: left;
     width: 30%;
     padding: 30px;
     font-size: 30;
   }

   .container-2 {
    display: flex;
    padding-left: 30px;
    margin: 0;
    justify-content: flex-end;
    width: 80%;
  }


  .bar {
    width: 30%;
    padding-left: 100px;
  }

  .page-1 .bar img {
    width: 390px; 
  }

  .bar-words {
    text-align: left;
    width: 30%;
    padding: 30px;
    font-size: 30;
  }
   .page-1 .bar-words h1 {
    white-space: nowrap;
   }
  .container-3 {
    display: flex;
    padding-left: 30px;
    margin: 0;
    justify-content: flex-end;
    width: 80%;
  }

  .soup {
    width: 30%;
    padding-left: 100px;
    align-items: flex-start;
  }

  .page-1 .soup img {
    width: 80%;
  }
  .soup-words {
    text-align: left;
    width: 30%;
    padding: 30px;
    font-size: 30;
  }

  .container-4 {
    display: flex;
    padding-left: 30px;
    margin: 0;
    justify-content: flex-end;
    width: 80%;
    padding-top: 70px;
  }

  .ramen {
    width: 30%;
    padding-left: 100px;
  }
  .page-1 .ramen img {
    width: 107%;
  }
  .ramen-words {
    text-align: left;
    width: 30%;
    padding: 30px;
    font-size: 30;
  }

  .container-5 {
    display: flex;
    padding-left: 30px;
    margin: 0;
    justify-content: flex-end;
    width: 80%;
  }

.home-page  .plate {
    width: 100%;
    padding-left: 0;

  }
  .plate {
    width: 30%;
    padding-left: 100px;

  }
  .plate-words {
    text-align: left;
    width: 30%;
    padding: 30px;
    font-size: 30;
  }

  .container-6 {
    display: flex;
    padding-left: 30px;
    margin: 0;
    justify-content: flex-end;
    width: 80%;
  }

  .home-page .yerb {
    width: 100%;
    padding-left: 0;

  }
  .home-page .yerb {
    width: 100%;
    padding-left: 20px;

  }
  .yerb {
    width: 30%;
    padding-left: 100px;

  }
  .yerb-words {
    text-align: left;
    width: 30%;
    padding: 30px;
    font-size: 30;
  }
  .home-page .yerb .overlay {left: 10px;}

  .container-7 {
    display: flex;
    padding-left: 30px;
    margin: 0;
    padding-top: 20px;
    justify-content: flex-end;
    width: 80%;
  }

.home-page .pasta {
    width: 100%;
    padding-left: 0;

  }
  .pasta {
    width: 30%;
    padding-left: 100px;

  }
  .pasta-words {
    text-align: left;
    width: 30%;
    padding: 30px;
    font-size: 30;
    margin-top: 10px;
  }

  .page-2 .pasta img {
    width: 450px;
    margin-left: -16px;
  }

  .container-8 {
    display: flex;
    padding-left: 30px;
    margin: 0;
    justify-content: flex-end;
    width: 80%;
  }

  .bento {
    width: 30%;
    padding-left: 100px;

  }
  .bento-words {
    text-align: left;
    width: 30%;
    padding: 30px;
    font-size: 30;
  }

  .container-9 {
    display: flex;
    padding-left: 30px;
    margin: 0;
    justify-content: flex-end;
    width: 80%;
  }

  .home-page .yerbcan {
    width: 30%;
    padding-left: 100px;

  }
  .yerbcan {
    width: 30%;
    padding-left: 100px;

  }

  .page-3 .yerbcan img {
    width: 300px;
  }
  .yerbcan-words {
    text-align: left;
    width: 30%;
    padding: 30px;
    font-size: 30;
  }

  .container-10 {
    display: flex;
    padding-left: 30px;
    margin: 0;
    justify-content: flex-end;
    width: 80%;
    padding-top: 20px;
  }

  .burrito {
    width: 30%;
    padding-left: 100px;

  }
  .burrito-words {
    text-align: left;
    width: 30%;
    padding: 30px;
    font-size: 30;
  }
  
  .container-11 {
    display: flex;
    padding-left: 30px;
    margin: 0;
    justify-content: flex-end;
    width: 80%;
  }

  .avotoast {
    width: 30%;
    padding-left: 100px;

  }

  .avotoast img {
    width: 290px;
  }
  .avotoast-words {
    text-align: left;
    width: 30%;
    padding: 30px;
    font-size: 30;
  }

  .container-12 {
    display: flex;
    padding-left: 30px;
    margin: 0;
    justify-content: flex-end;
    width: 80%;
  }

  .nuggets {
    width: 30%;
    padding-left: 100px;
  }

  .nuggets-words {
    text-align: left;
    width: 30%;
    padding: 30px;
    font-size: 30;
  }
  
  .container-13 {
    display: flex;
    padding-left: 30px;
    margin: 0;
    justify-content: flex-end;
    width: 80%;
  }

  .icecream {
    width: 30%;
    padding-left: 100px;
  }

  .icecream img {
    width: 285px;
  }

  .icecream-words {
    text-align: left;
    width: 30%;
    padding: 30px;
    font-size: 30;
  }
  
  .container-14 {
    display: flex;
    padding-left: 30px;
    margin: 0;
    justify-content: flex-end;
    width: 80%;
    padding-top: 30px;
  }

  .burger {
    width: 30%;
    padding-left: 100px;
  }

  .page-4 .burger img{
    width: 20 px;
  }

  .burger-words {
    text-align: left;
    width: 30%;
    padding: 30px;
    font-size: 30;
  }
  
  .burger img {
    width: 300px;
  }

  h1.page1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
  }

 p.page1 {
    text-align: left;
    font-size: 30;
    font-family: 'Raleway', sans-serif;
   }

  .container-15 {
    display: flex;
    padding-left: 30px;
    margin: 0;
    justify-content: flex-end;
    width: 80%;
  }

  .clementine {
    width: 30%;
    padding-left: 100px;
  }

  .clementine-words {
    text-align: left;
    width: 30%;
    padding: 30px;
    font-size: 30;
  }

  .container-16 {
    display: flex;
    padding-left: 30px;
    margin: 0;
    justify-content: flex-end;
    width: 80%;
  }

  .banhmi {
    width: 30%;
    padding-left: 100px;
  }

  .banhmi-words {
    text-align: left;
    width: 30%;
    padding: 30px;
    font-size: 30;
  }

  .container-17 {
    display: flex;
    padding-left: 30px;
    margin: 0;
    justify-content: flex-end;
    width: 80%;
  }

  .rice {
    width: 30%;
    padding-left: 100px;
  }

  .rice-words {
    text-align: left;
    width: 30%;
    padding: 30px;
    font-size: 30;
  }

  .container-0 {
  height: 1500px;
  position: absolute;
  right: 0;
  top: 68px;
  bottom: 0;
  margin-top: 0px;
  justify-content: right;
  width: 60%;
  z-index: -5;
}

  .box {
    height: 100%;
    width: 100%;
    background-color: #e7ffd9
  }

  .box2 {
    height: 100%;
    width: 100%;
    background-color: #dce4ff
  }

  .box3 {
    height: 100%;
    width: 100%;
    background-color: #ffcdf7
  }

  .box4 {
    height: 100%;
    width: 100%;
    background-color: #f0d9bd
  }

  .box5 {
    height: 100%;
    width: 100%;
    background-color: #f8b0b0
  }
  .bigword-box {
    display: flex;
    position: absolute;
    width: 140px;
    padding-left: 100px;
    
  }

  .bigword {
    position: absolute;
    width: 40px;
    padding-top: -30 px;
  }
    

  