img {
    width: 100%;
}
body {
<<<<<<< HEAD
    display: flex;
}
h1 {
    font-family:'Bebas Neue', cursive;
    color: #d19035;
    font-size: 20pt;
    margin: auto;
=======
    margin: 0;
>>>>>>> bd08bdeb090ba6af2b4bc1450e763a62ac67b935
}
.grid-2 {
    display: flex;
    padding: 60px;
  }
  .grid-2 img {
    justify-content: flex-start;
  }
  .right {
      justify-content: flex-start;
  }
  /* Text over an images */


  .hover-text {
    position: relative;
    width: 100%;
    margin: auto;
  }

  .bottom {
      padding: 40px;
  }
  .hover-text img {
    width: 100%;
  }

  .grid-2 .left {
    padding: 60px;
  }
  .hover-text .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 300px;
    opacity: 0;
    transition: 0.5s ease;
    background-color: #ccb69e;
  }
  .hover-text .overlay {
    width: 100%;
  }
  
  .hover-text:hover .overlay {
    opacity: 1;
  }
  
  .hover-text .text {
    color: white;
    font-family: arial;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  } 

  .hover-text.plate  {
    flex: 65%;
    margin-right: 20px;
  }
  .hover-text.yerb {
    flex: 35%;
  }
  h3 {
    font-size: 36px;
    font-family: 'Courier New', Courier, monospace, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }
  main{
    width: 85%;
    margin: auto;
  }
  
  header {
    display: flex;
    width: 60%;
    margin: auto;
  }
  header img {
    max-width: 600px;
  }
  header div {
    flex: 1;
  }
  nav a {
    padding-right: 20px;
  }
  nav a:hover {
    color: #333;
  }
  nav {
    padding: 12px;
    margin-bottom: 100px;
  }
  header #demobox {
    font-family: 'Bebas Neue', cursive; 
    font-size: 140px;
    color: #d19035;
    margin-left: -120px;
  }
    .orange {
<<<<<<< HEAD
    display: flex;
    justify-content: space-between;
    background-color: #ffc164;
    width: 10vw;
    }


=======
        display: flex;
        justify-content: space-between;
        background-color: #ffc164;
    }
>>>>>>> bd08bdeb090ba6af2b4bc1450e763a62ac67b935
